
# ------------------------------------------------
# Download files from new dropbox links (every 10 minutes)
# ------------------------------------------------
*/10 * * * * /www/gentb.hms.harvard.edu/code/gentb-site/gentb_website/cron_scripts/get_dropbox_files_prod_hms.sh
#
# ------------------------------------------------
# See if there are files ready for pipeline processing (every 15 minutes)
# ------------------------------------------------
*/15 * * * * /www/gentb.hms.harvard.edu/code/gentb-site/gentb_website/cron_scripts/run_pipeline_prod_hms.sh
#
# --------------------------------------
# On reboot, get supervisor running the genTB site again
# --------------------------------------
@reboot /www/gentb.hms.harvard.edu/code/gentb-site/gentb_website/scripts/start_hms_supervisor.sh
#
