{% extends "base.html" %}

{% block head_title_block %}
    Map - genTB
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}leaflet-0.5/leaflet.css" />
<style>

.legend {
    padding: 0px 0px;
    font: 10px sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.key path {
  display: none;
}

</style>
{% endblock %}
{% block extra_js %}
    {% comment %}
  <script src="{{ STATIC_URL }}leaflet-0.5/leaflet.js"></script>
  <script src="{{ STATIC_URL }}{% static 'd3/d3.v3.min.js' %}" charset="utf-8"></script>
  <script src="{{ STATIC_URL }}d3/queue.v1.min.js"></script>
  {% endcomment %}
{% endblock %}




{% block main_content %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Map <small>visualize TB impacts and strains globally.</small><h1>
                    <iframe id="shinymap" height="1200" width="100%" frameborder="0" src="http://tb.datascience.iq.harvard.edu:3838/sample-apps/hello/"></iframe>
                {#<div id="map" style="width: 960px; height: 500px"></div>#}
            </div>
        </div>

        {#% include "maps/leaflet_map_js.html" %#}
 {% endblock %}
