gentb_website/test_setup/*
*.idea
scratch-work/downloaded/*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
gentb_website/tb_website/tb_website/settings/*production.json

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

gentb_website/tb_website/tb_website/settings/mail_settings_production.json
gentb_website/tb_website/tb_website/settings/mail_settings_local.json
gentb_website/tb_website/tb_website/settings/secret_settings_prod.json
gentb_website/tb_website/tb_website/settings/production.py

scratch-work/server_access_log.2015-10-08.txt

scratch-work/test-data/server_access_log.2015-10-08.txt

gentb_website/tb_website/tb_website/settings/secret_settings_prod_hms.json

scratch-work/dropbox_info.py

gentb_website/tb_website/apps/predict/dropbox_info.py

scratch-work/test-files/008.1.fastq.txt

*.dcf

shinyapps.io/genTB/rsconnect/shinyapps.io/hmdc/genTB.dcf

shinyapps.io/genTB/.Rhistory

gentb_website/tb_website/tb_website/settings/secret_settings_local.json
