{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Share - genTB
{% endblock %}

{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Share <small>contribute your data or download the current genTB data repository</small><h1>
            </div>
        </div>

        <div class = "row">
            <div class="col-md-6 portfolio-item">
                <p><i>The core dataset was last updated on 10/30/2015</i></p>

                <p>You can add your tuberculosis data to genTB using the Harvard Dataverse Application. Datasets of both phenotype and genotype are most useful to the Tuberculosis community and we recommend contributing both if they are available. Please <a href="{% url 'view_data_upload_information' %}">read the guide on how to prepare your data for sharing</a> please click here.</p>

    <h4>Steps:</h4>
    <ol>
        <li>Create an account at <a href="https://dataverse.harvard.edu" target="tb_share">dataverse.harvard.edu</a></li>

        <li>Go to the <a href="https://dataverse.harvard.edu/loginpage.xhtml?redirectPage=%2Fdataverse.xhtml%3Falias%3DgenTB"  target="tb_share">genTB Dataverse</a>, click the Add Data button, and select New Dataset.</li>

        <li>Fill out the dataset deposit form, upload your files, and click Save Dataset.</li>

        <li>You are able to edit your dataset and upload new files after saving the dataset for the first time.</li>

        <li>Once your dataset is ready, click the Submit for Review button on the right side of the dataset page.</li>
    </ol>

    <p>Questions? Click the email button on the <a href="https://dataverse.harvard.edu/loginpage.xhtml?redirectPage=%2Fdataverse.xhtml%3Falias%3DgenTB">genTB Dataverse page</a>.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

                <hr />
            <script src="https://dataverse.harvard.edu/resources/js/widgets.js?alias=genTB&amp;dvUrl=https://dataverse.harvard.edu&amp;widget=search&amp;text=Search+my+dataverse"></script>
            <script src="https://dataverse.harvard.edu/resources/js/widgets.js?alias=genTB&amp;dvUrl=https://dataverse.harvard.edu&amp;widget=iframe&amp;heightPx=500"></script>
            </div>
        </div>
{% endblock %}
