{% load predict_extras %}

<p>Sorry! The processing of your file has failed.</p>

<p>We are sorry for any inconvenience, we are looking into the error and will email you about next steps shortly.</p>

<p>Link to your dataset details page: {{ SITE_URL }}{% url 'predict:view_single_dataset' dataset.md5 %}</p>

<h3>Contact</h3>
<ul>
    <li><b>Name</b>: {{ tb_user }}</li>
    <li><b>Affiliation</b>: {{ tb_user.affiliation }}</li>
    <li><b>Email</b>: {{ tb_user.user.email }}</li>
</ul>

({% now "F jS, Y f:s a" %})
