
ul.dropbox-files {
  display: block;
  font-family: "Lucida Grande", "Segoe UI", "Tahoma", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: #636363;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  border-bottom-color: #d4d4d4;
  background: #fcfcfc;
  background: linear-gradient(to bottom, #fcfcfc 0%, #f5f5f5 100%);
  line-height: 175%;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  margin-top: 3px;
}

ul.dropbox-files li {
  padding: 2px 15px;
}

ul.dropbox-files label {
  border: 1px solid rgb(204, 204, 204);
  background: white none repeat scroll 0% 0%;
  padding: 2px 8px;
  margin-left: -5px;
}

