/*! project specific CSS goes here. */

body > .container {
  padding-top: 50px;
}

*[data-toggle=tooltip] {
  cursor: pointer;
}

div.tooltip .tooltip-inner table th {
  text-align:right !important;
}
div.tooltip .tooltip-inner table td {
  text-align:left !important;
  padding-left: 8px;
}


a, a:active, a:hover {
   outline: 0 !important;
}

table.content-to-top td,
table.content-to-top th {
  vertical-align: top;
}

table input {
  width: 100%;
}

td.field {
}

td.field input,
td.field textarea {
  width: 100%;
}

th[scope="row"] label {
  text-align: right;
  width: 100%;
}

.breadcrumb {
  /* Breadcrumbs appear way too high */
  margin-bottom: -15px;
}

.modal-body .modal-footer {
  padding: 15px 0px 0px 0px;
}

/* override the checkbox position */
td.field input[type="checkbox"] {
  width: 16px;
  text-align: left;
}

/* stype the modules view */

.vis-network-tooltip ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.cite > svg {
  max-height: 80px;
  max-width: 80px;
  padding: 6px;
  float: left;
}
.program {
  line-height: 200%;
}
.program span {
  background-color: black;
  color: white;
  padding: 4px;
  border: 1px solid white;
  border-radius: 4px;
  font-weight: bold;
  white-space: nowrap;
}
.program .input {
  background-color: #5ac034;
  border-color: green;
}
.program .output {
  background-color: #6a6acf;
  border-color: blue;
}
.program .input-missing {
  background-color: #d83737;
  border-color: #8a1414;
}
.program .bin {
  background-color: #bbb;
  border-color: #555;
}
.well.files {
  padding: 5px;
  margin: 0px;
}

.well.files .row {
  padding: 0px;
  margin: 0px;
}
.well.files a.btn.btn-default {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
  width: 98%;
  color: #444;
  transition: background-color 0.5s ease-in-out;
}
@media (min-width: 350px) and (min-width: 12em) {
  .well.files a.btn.btn-default {
    width: 48%;
  }
}
@media (min-width: 500px) and (min-width: 20em) {
  .well.files a.btn.btn-default {
    width: 24%;
  }
}
@media (min-width: 900px) and (min-width: 40em) {
  .well.files a.btn.btn-default {
    width: 15%;
  }
}
.well.files a.btn.btn-default p {
  color: #444;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0px;
  overflow: hidden;
  font-size: 85%;
  text-align: center;
  transition: background-color,border-color 0.5s ease-in-out;
}
.well.files a.btn.btn-default:hover {
  color: #666;
  background-color: white;
  border-color: #ccc;
  transition: background-color .3s ease-in-out;
}
.well.files a.btn.btn-default:hover p {
  color: #666;
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  transition: background-color,border-color .3s ease-in-out;
}
.well.files a.btn img {
  height: 90px;
  padding: 5px 10px;
}
.well.files span.deleting {
  color: #d03434;
  position: relative;
  float: right;
  top: -112px;
  right: 8px;
}

.page-loader,
.page-loading {
  width: 100%;
  text-align: center;
}
.page-loader svg,
.page-loading svg {
  width: 100px;
}
.page-loader svg rect.bk,
.page-loading svg rect.bk {
  fill: none;
}
.page-loader svg rect {
  fill: #a40000;
}
.page-loading svg rect {
  fill: #4e9a06;
}
.tab-pain#processing-tab {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}
