/*! project specific CSS goes here. */

body > .container {
  padding-top: 50px;
}

*[data-toggle=tooltip] {
  cursor: pointer;
}

a, a:active, a:hover {
   outline: 0 !important;
}

table.content-to-top td,
table.content-to-top th {
  vertical-align: top;
}

table input {
  width: 100%;
}

td.field {
}

td.field input,
td.field textarea {
  width: 100%;
}

th[scope="row"] label {
  text-align: right;
  width: 100%;
}

