/*! project specific CSS goes here. */

body > .container {
  padding-top: 50px;
}

*[data-toggle=tooltip] {
  cursor: pointer;
}

div.tooltip .tooltip-inner table th {
  text-align:right !important;
}
div.tooltip .tooltip-inner table td {
  text-align:left !important;
  padding-left: 8px;
}


a, a:active, a:hover {
   outline: 0 !important;
}

table.content-to-top td,
table.content-to-top th {
  vertical-align: top;
}

table input {
  width: 100%;
}

td.field {
}

td.field input,
td.field textarea {
  width: 100%;
}

th[scope="row"] label {
  text-align: right;
  width: 100%;
}

.breadcrumb {
  /* Breadcrumbs appear way too high */
  margin-bottom: -15px;
}

.modal-body .modal-footer {
  padding: 15px 0px 0px 0px;
}

/* override the checkbox position */
td.field input[type="checkbox"] {
  width: 16px;
  text-align: left;
}

/* stype the modules view */

.vis-network-tooltip ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.cite > svg {
  max-height: 80px;
  max-width: 80px;
  padding: 6px;
  float: left;
}
.program {
  line-height: 200%;
}
.program span {
  background-color: black;
  color: white;
  padding: 4px;
  border: 1px solid white;
  border-radius: 4px;
  font-weight: bold;
  white-space: nowrap;
}
.program .input {
  background-color: #5ac034;
  border-color: green;
}
.program .output {
  background-color: #6a6acf;
  border-color: blue;
}
.program .input-missing {
  background-color: #d83737;
  border-color: #8a1414;
}
.program .bin {
  background-color: #bbb;
  border-color: #555;
}
