{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Predict - genTB
{% endblock %}


{% block content %}

        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Predict <small> upload your data and make predictions about resistances by drug.</small><h1>
            </div>
        </div>

        <div class = "row">
            <div class="col-md-6 portfolio-item">
                    
                    <div class="alert alert-success" role="alert">
                        Thank you for contributing your data to this project!

                        <p>Your contribution details are below.</p>

                        <p>Return to the <a href="{% url 'view_homepage' %}">homepage</a> or 
                            <a href="{% url 'view_predict_page' %}">upload another file for prediction</a>.</p>
                    </div>

            {% if dataset %}
                {% include "predict/success_uploaded_info_table.html" %}
            {% endif %}



            {% comment %}
                    {% include "share/r_script_results.html" %}
                    {% if shared_file_info %}
                    {% endif %}
            {% endcomment %}

            </div>
            <div class="col-md-6" id="d3-target-div" style="padding-left:60px;"></div>
        </div>
        {% comment %}
            <script type="text/javascript" src="{% static 'd3/d3.v3.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
        {% endcomment %}
        
{% endblock %}
