{% load staticfiles %}

{% if ERROR_FOUND %}
    <div class="alert alert-danger" role="alert">Please check the errors below</div>
{% endif %}

<form action="{% url 'view_predict_page' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% for hidden in predict_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <table class="table-condensed">
        <tr>
            <th colspan="2" class="text-center">Dataset information</th>
        </tr>
        {% for field in predict_form.visible_fields %}
            <tr {% if field.id_for_label == 'id_fastq_type' %}id="row_id_fastq_type" style="display:none;"{% endif %}>
                <th class="text-primary">{{ field.label_tag }}{% if field.field.required %} <span class="text-warning">*</span>{% endif %}

                </th>
                <td>{{ field }}
                    {% if field.help_text %}
                    <p>{{ field.help_text|safe }}</p>
                    {% endif %}
                    {% if field.errors %}
                    <span class="text-danger">
                         {% for error in field.errors %}
                          <br />{{ field.label_tag }} {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                 </td>
            </tr>
            {% endfor %}
         <tr>
                <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <button type="reset" class="btn btn-default">Reset</button>
                &nbsp;
                <button type="submit" class="btn btn-success">Submit</button>
            </td>
        </tr>
    </table>
</form>
