{% load staticfiles %}

{% load predict_extras %}

<table class="table table-condensed table-bordered">

     <tr>
        <th colspan="2">Dataset Information</th>
    </tr>
    <tr>
        <th class="text-primary">Title</th>
        <td>{{ dataset.title }}</td>
    </tr>
    <tr>
        <th class="text-primary">Status</th>
        <td>{{ dataset.status }}</td>
    </tr>
    <tr>
        <th class="text-primary">Description</th>
        <td>{{ dataset.description|linebreaks }}</td>
    </tr>
    <tr>
        <th class="text-primary">File 1<br />(Size)</th>
        <td>
            {{ dataset.filename1 }}

            <br />({{ dataset.file1.file.size|readable_filesize }})
        </td>
    </tr>
    {% if dataset.file2 %}
    <tr>
        <th class="text-primary">File 2<br />(Size)</th>
        <td>
            {{ dataset.filename2 }}
            <br />({{ dataset.file2.file.size|readable_filesize }})
        </td>
    </tr>
    {% endif %}
    <tr>
        <th class="text-primary">Created</th>
        <td>{{ dataset.created }}</td>
    </tr>
</table>

<table class="table table-condensed table-bordered">
    <tr>
        <th colspan="2">Contact Information</th>
    </tr>
    <tr>
        <th class="text-primary">Name</th>
        <td>{{ tb_user }}
            {#{ dataset.middle_name }#}
            {{ dataset.tb_user.last_name }}
        </td>
    </tr>
    <tr>
        <th class="text-primary">Affiliation</th>
        <td>{{ tb_user.affiliation }}</td>
    </tr>
      <tr>
        <th class="text-primary">Email</th>
        <td>{{ tb_user.user.email }}</td>
    </tr>
</table>
