#mapid {
  height: 700px;
}

.legend {
    padding: 0px 0px;
    font: 10px sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.key path {
  display: none;
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-popup-content hr {
  margin-top: 3px;
  margin-bottom: 3px;
}
.leaflet-popup-content h4 {
  border-bottom: thin solid #eee;
  padding-bottom: 4px;
  margin-bottom: 4px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #43464C;
}
.leaflet-popup-content {
  
}
.countrySelect {
  fill: red !important;
}
.nv-legend-symbol {
  cursor: pointer;
}
label {
  margin: 5px 3px 5px 10px;
}
#mselect input[type="text"] {
  width: 300px;
}
#mselect input[type="checkbox"] {
  vertical-align: middle;
  margin: 0px;
}
#mutation_selector {
  display: table;
  width: 100%;
  height: 60px;
  padding-bottom: 10px;
}
#mutation_selector > span:first-child {
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
}
#mutation_selector > span:last-child {
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
}
#mutation_selector > span {
  display: table-cell;
  line-height: 60px;
  cursor: pointer !important;
}
#mutation_selector > span > span {
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}
#mutation_selector > span:hover {
  background-color: #eee;
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 28%,#eeeeee 28%,#eeeeee 100%);
}
#mutation_selector > span:hover > span {
  background-color: #aaa !important;
}
#mutation_selector > span.selected {
  background-color: white !important;
  background: white !important;
  cursor: default !important;
}
#mutation_selector > span.selected > span {
  background-color: #ed9017 !important;
}
#mutation_selector > span.odd > span {
  background-color: #3465a4;
  line-height: 0px;
}
#mutation_selector > span.even > span {
  background-color: #729fcf;
  line-height: 0px;
}
#gene_map_title {
  display: table;
  position: relative;
  top: 11px;
}
#gene_map_title > span:first-child {
  background-color: white;
  margin-left: 8px;
  padding-left: 4px;
  display: block;
  min-width: 7em;
}
#gene_map_title > span:last-child {
  background-color: white;
  margin-right: 8px;
  padding-right: 4px;
  display: block;
  min-width: 7em;
}
#gene_map_title > h4 {
  width: 100%;
  display: table-cell;
  text-align: center;
  font-weight: bold;
}
#gene_map_title > h4 > input {
  text-align: center;
  width: 6em;
}
