/*  vertical tab */
div.vertical-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.vertical-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.vertical-tab-menu div.list-group{
  margin-bottom: 0;
}
div.vertical-tab-menu div.list-group>a {
  margin-bottom: 0;
}
div.vertical-tab-menu div.list-group>a {
  color: #5A55A3;
}
div.vertical-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.vertical-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.vertical-tab-menu div.list-group>a.active,
div.vertical-tab-menu div.list-group>a.selected {
  background-color: #5A55A3;
  color: #ffffff;
  z-index: 1000;
  transition: background-color 0.5s ease;
}
div.vertical-tab-menu div.list-group>a.selected {
  background-color: #3E8944;
}
div.vertical-tab-menu div.list-group>a.selected.active {
  background-color: #50a558;
}
div.vertical-tab-menu div.list-group>a:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 0px solid #fff;
  transition: border-left-color 0.5s ease, border-left-width 0.4s linear;
}
div.vertical-tab-menu div.list-group>a.active:after,
div.vertical-tab-menu div.list-group>a.selected:after {
  border-left: 10px solid #5A55A3;
}
div.vertical-tab-menu div.list-group>a.selected:after {
  border-left: 10px solid #3E8944;
}
div.vertical-tab-menu div.list-group>a.selected.active:after {
  border-left: 10px solid #50a558;
}

div.vertical-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.vertical-tab div.vertical-tab-content:not(.active){
  display: none;
}

div.max-width div.vertical-tab-content,
div.vertical-tab-container div.max-width
{
  padding: 0px;
  margin: 0px;
}

div.d3graph {
  padding: 20px 10px 30px 20px;
}
div.mutation_graph {
  padding: 0px 10px 30px 20px;
}
