table.heatmap {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 20px;
}
table.heatmap > thead th {
  text-align: center;
}
table.heatmap th[scope="row"] {
  width: 150px;
  text-align: right;
}
table.heatmap > tbody > tr > th {
  padding: 10px;
}
table.heatmap > tbody > tr > td {
  border: 2px solid #fff;
}
table.heatmap > tbody > tr > td > div {
  border-radius: 8px;
  background-color: #b7bffc;
  position: relative;
  width: 100%;
}
table.heatmap > tbody > tr > td > div:before{
  content: "";
  display: block;
  padding-top: 100%;
}

table.heatmap > tbody > tr > td > div > div {
  border-radius: 8px;
  background-color: #a00;
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

table.heatmap > tbody > tr > td > div.selected > div {
  opacity: 1 !important;
  background-color: #ee4;
  border: 3px solid #cc2;
}

#scatter_title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 200%;
  background-color: #fffc;
}

#scatter {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
  display: none;
  margin: 60px;
  border: 3px solid blue;
  border-radius: 16px;
}

#scatter .close {
  top: -10px;
  right: -10px;
  width: 23px;
  height: 23px;
  opacity: 1.0;
  background-color: white;
  border-radius: 100%;
}

.heatmap-error {
  background-color: #400;
  color: white;
  border-radius: 8px;
  padding: 4px 10px 4px 20px;
  font-weight: bold;
}
