
#activate-notes {
  cursor: pointer;
  border-radius: 8px;
  top: -7px;
}
#activate-notes.active {
  background-color: #ddd;
  border: 1px solid #aaa;
}

.panel.with-nav-tabs .panel-heading{
  padding: 5px 5px 0 5px;
}
.nav-tabs{
  border-bottom: none;
}
.nav-justified{
  margin-bottom: -1px;
}

.nav-tabs li.disabled a:hover {
  
}

/********************************************************************/
/*** PANEL DEFAULT ***/
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #777;
}
.nav-tabs > .open > a,
.nav-tabs > .open > a:hover,
.nav-tabs > .open > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.nav-tabs > li.disabled > a,
.nav-tabs > li.disabled > a:hover,
.nav-tabs > li.disabled > a:focus {
  color: #aaa;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  border-bottom-color: #ddd;
}
.nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.nav-tabs > li.dropdown .dropdown-menu > .active > a,
.nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
