    <li{% if predict_page %} class="active"{% endif %}>
        <a href="{% url 'predict:upload' %}">Predict</a>
    </li>
    <li{% if data_page %} class="active"{% endif %}>
        <a href="{% url 'data' %}">Data</a>
    </li>
    <li{% if map_page %} class="active"{% endif %}>
        <a href="{% url 'maps:map' %}">Map</a>
    </li>
    <li{% if explore_page %} class="active"{% endif %}>
        <a href="{% url 'explore:home' %}">Explore</a>
    </li>
    <li{% if about_page %} class="active"{% endif %}>
        <a href="{% url 'about' %}">About</a>
    </li>

    {% if not request.user.is_authenticated %}
        <li{% if signup_page %} class="active"{% endif %}>
            <a href="{% url 'users:signup' %}">Sign Up</a>
        </li>
        <li{% if login_page %} class="active"{% endif %}>
        <a href="{% url 'users:login' %}">Log In</a>
        </li>
    {% else %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user }} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">

            <!-- my datasets page -->
            {% if request.user.datasets.count %}
            <li{% if view_my_datasets %} class="active"{% endif %}>
                <a href="{% url 'predict:view_my_datasets' %}">My Datasets ({{ request.user.datasets.count }})</a>
            </li>
            {% endif %}

          {#<li{% if account_page %} class="active"{% endif %}><a href="#">Account</a></li>#}

            <!-- log out -->
            <li{% if logout_page %} class="active"{% endif %}><a href="{% url 'users:logout' %}">Log Out</a></li>

        </ul>
      </li>
      {% if request.user.is_staff %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% if admin_link %}
            <li><a href="{{ admin_link.url }}">{{ admin_link.name }}</a></li>
            {% endif %}
            <li><a href="{% url 'admin:index' %}">Admin Page</a></li>
            <li><a href="{% url 'spaghetti:plate' %}">Models</a></li>
          </ul>
        </li>
      {% endif %}
    {% endif %}
    <script>
$(document).ready(function() {
      $(".dropdown-toggle").dropdown();
});
    </script>
