{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <!-- Jumbotron Header -->

        {% if just_logged_in %}
        {% comment %}
        <div class="alert alert-success" role="alert">
            <p>Welcome, you are now logged in as <b>{{ username }}</b></p>
            {% if my_dataset_count and my_dataset_count > 0 %}
                  <p>View your <a href="{% url 'predict:view_my_datasets' %}">{{ my_dataset_count }} dataset{{ my_dataset_count|pluralize }}</a></p>
            {% endif %}
        </div>
        {% endcomment %}

        {% endif %}
        <header class="jumbotron hero-spacer">
            <span style="font-size:350%;">Translational Genomics of Tuberculosis</span>
<p>genTB is a genomics based analysis tool for <i>Mycobacterium tuberculosis</i> data exploration that offers four main features to clinicians and researchers: a method to share and cite data and how it was obtained, the prediction of resistance based on genotype, geographic data mapping, and a user friendly statistical analysis tool.</p>

            <p><a href="{% url 'about' %}" class="btn btn-primary btn-large">Learn More</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <h3>Latest Features</h3>
            </div>
        </div> -->
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-left">

              <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <center><h4>Predict resistance based <br>on genotypic data</h4></center>
                    <a href="{% url 'predict:upload' %}"><img src="{% static 'images/predict.png' %}" alt=""></a>
                    <div class="caption">
                        <p class="text-center">
                            <a href="{% url 'predict:upload' %}" class="btn btn-primary">Run Predictions</a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <center><h4>Contribute your data <br>to this project</h4></center>
                    <a href="{#% url 'predict:view_data_page' %#}"><img src="{% static 'images/share.png' %}" alt=""></a>
                    <div class="caption">
                        <p class="text-center">
                            <a href="{#% url 'predict:view_data_page' %#}" class="btn btn-primary">Share Your Data</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <center><h4>Visualize impacts and <br>strains globally</h4></center>
                    <a href="{% url 'maps:map' %}"><img src="{% static 'images/map.png' %}" alt=""></a>
                    <div class="caption">
                        <p class="text-center">
                            <a href="{% url 'maps:map' %}" class="btn btn-primary">Start Mapping</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <center><h4>Interactively analyze our <br>project data</h4></center>
                    <a href="{% url 'explore:home' %}"><img src="{% static 'images/explore.png' %}" alt=""></a>
                    <div class="caption">
                        <p class="text-center">
                            <a href="{% url 'explore:home' %}" class="btn btn-primary">Explore Our Data</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

 <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          Contact Information
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        Maha Farhat, MD <br> {{ GENTB_CONTACT_EMAIL_HTML|safe }}
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                          Citing the Project
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                          {% include 'citation-for-project.html' %}
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                          Frequently Asked Questions
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <i>Coming Soon</i>
                        <!-- <a href="#">FAQs can be found here</a> -->
                      </div>
                    </div>
                  </div>

              </div>
            </div>

            <div class="col-md-6 portfolio-item">
                <p><b>Terms of Use:</b></p>

                {% include "terms-of-use.html" %}


            </div>


            <div class="col-md-3 col-sm-6 hero-feature">
                    <p>
                        Supported with funding by:
                        {% include "funding/lung.html" %}
                        {% include "funding/nih_bd2k.html" %}
                    </p>
                </div>
            </div>



        <!-- /.row -->

{% endblock %}
