{% extends "base.html" %}
{% load cachebuster %}

{% block "title" %}Translational Genomics of Tuberculosis{% endblock %}

{% block content %}

        <hr>

        <!-- Jumbotron Header -->
        <header class="jumbotron">
            <span style="font-size:350%;">Translational Genomics of Tuberculosis</span>
<p>genTB is an analysis tool for <i>Mycobacterium tuberculosis</i> genomic data that offers four main features: a means for sharing, citing and crediting TB data and metadata, the prediction of resistance on genotype using a machine learning algorithm, geographic data mapping, and a user friendly statistical analysis tool.</p>

            <p><a href="{% url 'about' %}" class="btn btn-primary btn-large">Learn More</a>
            </p>
        </header>

        <hr>

        <!-- Page Features -->
        <div class="row text-left">

              <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <center><h4>Predict resistance based <br>on genotypic data</h4></center>
                    <a href="{% url 'predict:upload' %}"><img src="{% static 'images/predict.png' %}" alt=""></a>
                    <div class="caption">
                        <p class="text-center">
                            <a href="{% url 'predict:upload' %}" class="btn btn-primary">Run Predictions</a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <center><h4>Contribute your data <br>to this project</h4></center>
                    <a href="{% url 'data' %}"><img src="{% static 'images/share.png' %}" alt=""></a>
                    <div class="caption">
                        <p class="text-center">
                            <a href="{% url 'data' %}" class="btn btn-primary">Share Your Data</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <center><h4>Visualize impacts and <br>strains globally</h4></center>
                    <a href="{% url 'maps:map' %}"><img src="{% static 'images/map.png' %}" alt=""></a>
                    <div class="caption">
                        <p class="text-center">
                            <a href="{% url 'maps:map' %}" class="btn btn-primary">Start Mapping</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <center><h4>Interactively analyze our <br>project data</h4></center>
                    <a href="{% url 'explore:home' %}"><img src="{% static 'images/explore.png' %}" alt=""></a>
                    <div class="caption">
                        <p class="text-center">
                            <a href="{% url 'explore:home' %}" class="btn btn-primary">Explore Our Data</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% include "legal-info.html" %}

{% endblock %}
