{% extends "base.html" %}
{% load cachebuster %}

{% block "title" %}Data Upload Instructions - genTB{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Data Upload Instructions<h1>
    </div>
</div>

<p>We recommend uploading two separate files for phenotype and genotype data through <a href="http://dataverse.harvard.edu/">Harvard Dataverse</a>.</p>

<h3>Genotype Data Files</h3>

<p>Accepted formats are FastQ or VCF. If you upload, a VCF please describe or indicate:</p>

    <ul>
        <li>How your VCF was generated</li>
        <li>What software was used and which thresholds were applied</li>
        <li>If the variants are filtered and how this was performed</li>
    </ul>

<h4>FastQ Paired-Ended Files</h4>
<p>If you upload FastQ files that are paired end: </p>
    <ul>
        <li>Please label them as follows:
            <ul>
                <li><i>isolate-name-here</i>_R1.fastq</li>
                <li><i>isolate-name-here</i>_R2.fastq</li>
            </ul>
        <li>Replace “<i>isolate-name-here</i>” with your desired isolate or strain name.</li>
    </ul>

<h3>Phenotype Data Files</h3>
<ul>
    <li>We recommend formatting your file as a tab delimited or a comma delimited file. Excel files are also acceptable.</li>

    <li>Please include an ID field that links directly to the names (or isolate names) of the FastQ or VCF files that you upload.</li>

    <li>Drug resistance results should include information on what concentration of the drug was tested. For example if isoniazid drug resistance was tested at a concentration of 0.2 then the field containing the resistance status should be called inh_0.2 and so forth for other drugs. Please indicate the concentration units and method of testing in the description of your file during the Dataverse upload.</li>

    <li>Please include data on when, month &amp; year, and where the sample was collected including city &amp; country. If GIS or longitude/latitude coordinates are available please include these as well. Please label these fields date, city, country, and long and lat respectively. Please do not list postal or zip codes due to privacy concerns. </li>

    <li>Adding data on traditional fingerprint (RFLP, MIRU-VNTR, Spoligotype) is also helpful</li>

    <li>Any completely de-identified data on the host is also acceptable e.g. age, comorbidities such as diabetes, etc.</li>
</ul>
{% endblock %}
