{% load static %}
<div class="row">
  <div class="col-md-4 col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Terms of Use</h4>
      </div>
      <div class="panel-body">
        <p>This project is developed and maintained by researchers and clinicians as a benefit to the research and education community. Although this website is curated, it is also provided in an "as is" basis only, without warranty or representation as to its accuracy or reliability.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Cite the Project</h4>
      </div>
      <div class="panel-body cite">
        {% include "maha_logo.svg" %}
        <p>Farhat MR, Murray M, Choirat C, Prasad R, Honaker J, Durbin P, Idris MY, Crosas M, King G, <b>genTB: Translational Genomics of Tuberculosis.</b> <em>gentb.hms.harvard.edu</em> 2015</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Funding</h4>
      </div>
      <div class="panel-body">
        <p><a href="http://www.lung.org"><img src="{% static 'images/lung.png' %}" alt="American Lung Association" /></a></p>
        <p><a href="https://datascience.nih.gov/bd2k"><img src="{% static 'images/nih-bd2k.png' %}" alt="NIH Big Data to Knowledge (BD2K)" /></a></p>
      </div>
    </div>
  </div>
</div>

