{% if is_paginated %}
{% load i18n %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
    {% else %}
        <li class="disabled"><a class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
    {% endif %}
    {% for page in page_obj.page_range %}
        {% if not page %}
            <li><a href="#more-pages" data-href="?page=...{{ getvars }}{{ hashtag }}" class="dotdotdot">...</a></li>
        {% elif page == page_obj.number %}
            <li class="active page"><a>{{ page }}</a></li>
        {% else %}
            <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
    {% else %}
        <li class="disabled"><a class="next">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
    {% endif %}
  </ul>
{% endif %}
