{% extends "base.html" %}
{% load cachebuster %}

{% block "title" %}Data - genTB{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <h1 class="page-header">Download <small>the current genTB data repository</small></h1>

        <script src="https://dataverse.harvard.edu/resources/js/widgets.js?alias=tuberculosis&amp;dvUrl=https://dataverse.harvard.edu&amp;widget=search&amp;text=Search+my+dataverse"></script>
        <script src="https://dataverse.harvard.edu/resources/js/widgets.js?alias=tuberculosis&amp;dvUrl=https://dataverse.harvard.edu&amp;widget=iframe&amp;heightPx=500"></script>
    </div>
</div>
{% endblock %}
