{% extends "base.html" %}
{% load static %}

{% block content %}
		<div class="row">
		    <div class="col-xs-12"><!-- Info row -->
                      <h1 class="page-header">{{ title }} <small>interactively analyze our project data.</small></h1>

                      <p>Please watch our <a href="https://youtu.be/KsOJx-SU14s" target="_blank">tutorial video</a> for a quick demonstration of how to use this analysis tool.</p>
                
                    {% if object %}
                        <p><a href="{{ object.codebook_file_url }}" target="_blank" class="btn btn-primary">Open Codebook</a></p>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            Sorry! An Open Codebook  Link is not available.
                        <p>(If you are the administrator, make sure that "Explore Data File Information" is available in the database.)</p>
                        </div>
                    {% endif %}
		    </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><!-- Two Ravens Iframe row -->
                {% if object %}
                    <iframe style="height: 720px; width:100%; border: 1px #ccc solid;" src="{{ object.two_ravens_url }}"></iframe>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Sorry! An Explore Link is not available.
                        <p>(If you are the administrator, make sure that "Explore Data File Information" is available in the database.)
                    </div>
                {% endif %}
            </div>
		</div>


{% endblock %}
