{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Explore - genTB
{% endblock %}
{% block extra_css %}
<style>
h1.right {
   display: inline-block;
   text-align: right;
   width: 100%;
}

iframe{
	height: 720px;
	width: 100%;
}

</style>
{% endblock %}
{% block content %}

		<div class="row">
		    <div class="col-xs-12"><!-- Info row -->
		        <h1 class="page-header">Terms of Use</h1>

                {% include "terms_of_use/terms-of-use.html" %}
		    </div>
        </div>
{% endblock %}
