<p>Create a prediction though the manual selection of 1 or more mutations from a list. This option assumes that any non-entered mutations have been tested for and are absent. Min  imal genotypic information for accurate resistance predictions are below. Genetic regions are listed in order of decreasing importance. For more detailed list of genetic variants see refer  ence <a href="http://www.ncbi.nlm.nih.gov/pubmed/26910495">Farhat MR, Sultana R et al. Genetic Determinants of Drug Resistance in Mycobacterium tuberculosis and Their Diagnostic Value. AJR  CCM 2016</a></p>

  <table class="table table-condensed">
    <tr>
      <th align = "center">Drug</th>
      <th align = "cetner">Genes</th>
    </tr>
    <tr>
      <td>Isoniazid</td>
      <td><i>katG</i>, <i>inhA</i> promoter, <i>inhA</i>, <i>embB</i>,
          <i>iniB</i>, <i>kasA</i>, <i>embAB</i> promoter, and <i>ahpC</i>
      </td>
    </tr>
    <tr>
      <td>Rifampicin</td>
      <td><i>rpoB</i></td>
    </tr>
    <tr>
      <td>Pyrazinamide</td>
      <td><i>pncA</i> and <i>pncA</i> promoter</td>
    </tr>
    <tr>
      <td>Ethambutol</td>
      <td><i>embB</i>, <i>iniB</i>, <i>embAB</i> promoter, <i>embAB</i>, and <i>embC</i></td>
    </tr>
    <tr>
      <td>Streptomycin</td>
      <td><i>rpsL</i>, <i>rrs</i>, <i>gid</i>, and <i>rrs-rrl</i> intergenic region</td>
    </tr>
    <tr>
      <td>Ethionamide</td>
      <td><i>inhA promoter</i>, <i>ethA</i>, and <i>inhA</i></td>
    </tr>
    <tr>
      <td>Kanamycin*</td>
      <td><i>rrs</i>, <i>tlyA</i>*</td>
    </tr>
    <tr>
      <td>Capreomycin</td>
      <td><i>rrs</i></td>
    </tr>
    <tr>
      <td>Amikacin</td>
      <td><i>rrs</i></td>
    </tr>
    <tr>
      <td>Fluoroquinolones</td>
      <td><i>gyrA</i>, <i>gyrB</i></td>
    </tr>
    <tr>
      <td>Para-aminosalicylic acid</td>
      <td><i>thyA</i></td>
    </tr>
  </table>

  <ul>
    <li>Note: Gene <i>eis</i> is a predictor of kanamycin resistance, but data for this gene was not available when the predictive model was built.</li>
  </ul>

