{% extends "base.html" %}
{% load cachebuster %}

{% block extra_css %}
  <!--link href="{% static 'css/pipeline.css' %}" rel="stylesheet"-->
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{ title }} <small>Pipeline Jobs</small></h1>

      <p>Currently the system is using '{{ pipeline_name }}' as it's pipeline manager.</p>

      <div class="col-lg-12 col-sm-12">
        <table class="table table-striped">
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Internal ID</th>
               <th scope="col">Submitted</th>
               <th scope="col">Started</th>
               <th scope="col">Finished</th>
               <th scope="col">Return</th>
               {% for col in cols %}
                 <th scope="col">{{ col }}</th>
               {% endfor %}
            </tr>
        {% for job in object_list|slice:"-50:" %}
            <tr>
              <th scope="row">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> {{ job.name }}
                <span class="label label-{{ job.context }} pull-right">{{ job.status }}</span>
              </th>
              <td><span class="glyphicon glyphicon-paperclip" aria-hidden="true" title="Internal ID"></span> {{ job.pid }}</td>
              <td>{{ job.submitted }}</td>
              <td>{{ job.started }}</td>
              <td>{{ job.finished }}</td>
              <td><span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Return Code"></span> {{ job.return }}</td>
              {% for val in job.cols %}
              <td>{{ val }}</td>
              {% endfor %}
            </tr>
            {% if job.error and job.error != 'None' %}
              <tr class="danger">
                <td colspan="6"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Error Message"></span> {{ job.error }}</td>
              </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
  </div>
{% endblock %}
