{% extends "base.html" %}
{% load cachebuster %}

{% block extra_css %}
  <!--link href="{% static 'css/pipeline.css' %}" rel="stylesheet"-->
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{ title }} <small>Pipeline Jobs</small></h1>

      <p>Currently the system is using '{{ pipeline_name }}' as it's pipeline manager.</p>

      <div class="col-lg-12 col-sm-12">
        {% for job in object_list %}
          <div class="panel panel-default">
            <div class="panel-heading">
                <h2><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> {{ job.name }}
                    <span class="label label-primary pull-right">{{ job.status }}</span>
                </h2>
            </div>

            <div class="panel-body alert alert-info">
              {% if job.pid %}
              <h4><span class="glyphicon glyphicon-paperclip" aria-hidden="true" title="Internal ID"></span> {{ job.pid }}</h4>
              {% endif %}
              <h4><span class="glyphicon glyphicon-download" aria-hidden="true" title="Submitted"></span> {{ job.submitted }}</h4>
              {% if job.started %}
              <h4><span class="glyphicon glyphicon-play" aria-hidden="true" title="Started"></span> {{ job.started }}</h4>
              {% endif %}
              {% if job.finished %}
              <h4><span class="glyphicon glyphicon-stop" aria-hidden="true" title="Finished"></span> {{ job.finished }}</h4>
              {% endif %}
              {% if job.return or job.return == 0 %}
              <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Return Code"></span> {{ job.return }}</h4>
              {% endif %}
              {% if job.error %}
              <h4><span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Error Message"></span> {{ job.error }}</h4>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}

