{% extends "base.html" %}
{% load cachebuster %}

{% block extra_css %}
  <!--link href="{% static 'css/pipeline.css' %}" rel="stylesheet"-->
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{ title }} <small>Pipeline Jobs</small></h1>

      <p>Currently the system is using '{{ pipeline_name }}' as it's pipeline manager.</p>

      <div class="col-lg-12 col-sm-12">
        <table class="table table-striped">
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Internal ID</th>
               <th scope="col">Submitted</th>
               <th scope="col">Started</th>
               <th scope="col">Finished</th>
               <th scope="col">Return</th>
            </tr>
        {% for job in object_list %}
            <tr>
              <th scope="row">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> {{ job.name }}
                <span class="label label-primary pull-right">{{ job.status }}</span>
              </th>

              {% if job.pid %}
              <td><span class="glyphicon glyphicon-paperclip" aria-hidden="true" title="Internal ID"></span> {{ job.pid }}</td>
              {% endif %}
              <td>{{ job.submitted }}</td>
              {% if job.started %}
              <td>{{ job.started }}</td>
              {% endif %}
              {% if job.finished %}
              <td>{{ job.finished }}</td>
              {% endif %}
              {% if job.return or job.return == 0 %}
              <td><span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Return Code"></span> {{ job.return }}</td>
              {% endif %}
            </tr>
            {% if job.error %}
              <tr class="danger">
                <td colspan="6"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Error Message"></span> {{ job.error }}</td>
              </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
  </div>
{% endblock %}

