
{% if ERROR_FOUND %}
    <div class="alert alert-danger" role="alert">Validation Error - Required fields were missed or there was a validation error. Please scroll down to see details. </div>
{% endif %}

<form action="{% url 'users:view_signup_page' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% for hidden in signup_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <table class="table-condensed">
        {% for field in signup_form.visible_fields %}
            {% if field.id_for_label == 'id_title' %}
                <tr>
                    <th colspan="2" class="text-center">Dataset information</th>
                </tr>
            {% endif %}
            <tr>
                <th class="text-primary">{{ field.label_tag }}{% if field.field.required %} <span class="text-warning">*</span>{% endif %}</th>
                <td>{{ field }}
                    {% if field.errors %}
                    <span class="text-danger">
                         {% for error in field.errors %}
                          <br />{{ field.label_tag }} {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                 </td>
            </tr>
            {% endfor %}
         <tr>
                <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <button type="reset" class="btn btn-default">Reset</button>
                &nbsp;
                <button type="submit" class="btn btn-success">Submit</button>
            </td>
        </tr>
    </table>
</form>
