{% extends "base.html" %}


{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Password Reset<h1>
    </div>
</div>

<p>To reset your password, enter your email address below, and you'll receive an email with a link to set a new one.</p>

<form action="" method="post">{% csrf_token %}
{% if form.email.errors %}
<div class="text-danger">{{ form.email.errors }}</div>
{% endif %}
<p><label for="id_email" class="text-primary">Email address:</label>&nbsp; {{ form.email }}
&nbsp;&nbsp;<input type="submit" class="btn btn-sm btn-success" value="Reset Password" /></p>
</hr>
</form>

{% endblock %}
