{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% if JUST_LOGGED_OUT %}
                    <div class="alert alert-success" role="alert">
                        <p>You are now logged out</p>
                    </div>
                {% endif %}
                {% if ALREADY_LOGGED_IN %}
                    <div class="alert alert-info" role="alert">
                        <p>You are already logged in as <b>{{ username }}</b></p>
                        <p>Please continue to the <a href="{% url 'home' %}">home page</a></p>
                    </div>

                {% else %}
                    <p>To log in, please use the sign form below.
                     &nbsp; </p>
                    {% include "registration/login_form.html" %}

                    <p><br />&nbsp;
                        <i>(I forgot my <a href="{% url 'users:password_reset' %}">password</a>)</i>
                    <br />&nbsp;</p>
                {% endif %}
            </div>
        </div>


{% endblock %}
