{% extends "modal.html" %}
{% load i18n %}

{% block "title" %}{% trans "Password Reset In Progress" %}{% endblock %}

{% block "dialog-body" %}
  <p>{% trans "We've emailed you instructions for setting your password to the email address you submitted." %}</p>
  <p>{% trans "You should be receiving it shortly." %}</p>
{% endblock %}

{% block "dialog-buttons" %}
  <a class="btn btn-default" href="mailto:tbpredict@gmail.com?subject=Reset%20Password%20Email%20Problem">{% trans "I didn't get an email" %}</a>
{% endblock %}
