{% extends "modal.html" %}
{% load i18n %}

{% block "title" %}Password Reset Confirm{% endblock %}

{% block "dialog-body" %}
  {% if validlink %}
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
  {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  {% endif %}
{% endblock %}

{% block "form-buttons" %}
  <input type="submit" class="btn btn-success" value="{% trans 'Change my password' %}" /></p>
{% endblock %}

{% block "dialog-buttons" %}
  <a href="{% url "password_reset" %}" class="btn btn-danger">{% trans 'Send Email Again' %}</a>
{% endblock %}
