{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/leaflet.css" %}"/>
  <link rel="stylesheet" href="{% static "css/leaflet_map.css" %}"/>
  <link rel="stylesheet" href="{% static "css/leaflet.markercluster.css" %}"/>
  <link rel="stylesheet" href="{% static "css/vertical-tabs.css" %}"/>
{% endblock %}
{% block extra_js %}
  <script src="{% static "js/d3.js" %}"></script>
  <script src="{% static "js/leaflet.js" %}"></script>
  <script src="{% static "js/leaflet_map.js" %}"></script>
  <script src="{% static "js/leaflet.markercluster.js" %}"></script>
  <script src="{% static "js/vertical-tabs.js" %}"></script>
{% endblock %}

{% block content %}
  {% if request.GET.new %}
    <div class="container">
      <h2 class="page-header">Map <small>visualize TB impacts and strains globally.</small></h2>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vertical-tab-container">
            <div class="col-lg-1 col-md-3 col-sm-3 col-xs-3 vertical-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <h3 class="glyphicon glyphicon-globe"></h3>
                  <p>World</p>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h3 class="icon-gene"></h3>
                  <p>Gene</p>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h3 class="icon-graph"></h3>
                  <p>Lineage</p>
                </a>
                <a href="#" class="list-group-item text-center">
                  <h3 class="icon-adenine"></h3>
                  <p>Mutation</p>
                </a>
              </div>
            </div>
            <div class="col-lg-11 col-md-9 col-sm-9 col-xs-9 vertical-tab max-width">
                <div class="vertical-tab-content active">
                  <div class="maps" id="mapid" data-map="{% static "map_data/tb_data_01.json" %}" data-polygons="{% url 'maps:map.countries' %}">
                </div>

                </div>
                <div class="vertical-tab-content">
                    <center>
                    </center>
                </div>
                <div class="vertical-tab-content">
                    <center>
                    </center>
                </div>
                <div class="vertical-tab-content">
                    <center>
                    </center>
                </div>
            </div>
        </div>
  </div>
</div>

{% else %}
  {# Old shiny-io maps #}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Map <small>visualize TB impacts and strains globally.</small><h1>
      <iframe id="shinymap" height="1200" width="100%" frameborder="0" src="https://hmdc.shinyapps.io/genTB"></iframe>
      {#<div id="map" style="width: 960px; height: 500px"></div>#}
    </div>
  </div>
{% endif %}

{% endblock %}
