{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/nv.d3.css" %}"/>
  <link rel="stylesheet" href="{% static "css/leaflet.css" %}"/>
  <link rel="stylesheet" href="{% static "css/genetics-map.css" %}"/>
  <link rel="stylesheet" href="{% static "css/vertical-tabs.css" %}"/>
{% endblock %}
{% block extra_js %}
  <script src="{% static "js/d3.js" %}"></script>
  <script src="{% static "js/nv.d3.js" %}"></script>
  <script src="{% static "js/vertical-tabs.js" %}"></script>
  <script src="{% static "js/sources-list.js" %}"></script>
  <script src="{% static "js/leaflet.js" %}"></script>
  <script src="{% static "js/genetics-map.js" %}"></script>
  <script src="{% static "js/drugs-chart.js" %}"></script>
  <script src="{% static "js/lineage-chart.js" %}"></script>
  <script src="{% static "js/mutations-chart.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
      <h2 class="page-header">Map <small>visualize TB resistance genotype and phenotype globally.</small>
      </h2>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vertical-tab-container">
            <div class="col-lg-1 col-md-3 col-sm-3 col-xs-3 vertical-tab-menu">
              <!--Okay so this is the tabs that you see on the right of the menu that you actually click on-->
              <div class="list-group" id="data-store">
                <a href="#" class="list-group-item text-center" id="source-store" data-json-url="{% url 'maps:map.sources' %}">
                  <h2 class="glyphicon glyphicon-list-alt"></h2>
                  <p>All Data</p>
                </a>
                <!--See how this class is active, thats cause thats currently the tab you are looking at-->
                <a href="#" class="list-group-item text-center active" id="map-store" data-json-url="{% url 'maps:map.places' %}">
                  <h2 class="glyphicon glyphicon-globe"></h2>
                  <p>World</p>
                </a>
                <a href="#" class="list-group-item text-center" id="drug-store" data-json-url="{% url 'maps:map.drugs' %}">
                  <h2 class="icon-flask"></h2>
                  <p>Drug</p>
                </a>
                <a href="#" class="list-group-item text-center" id="lineage-store" data-json-url="{% url 'maps:map.lineages' %}">
                  <h2 class="icon-graph"></h2>
                  <p>Lineage</p>
                </a>
                <a href="#" class="list-group-item text-center" id="genelocus-store" data-json-url="{% url 'maps:map.locuses' %}">
                  <h2 class="icon-helix"></h2>
                  <p>Gene Locus</p>
                </a>
                <a href="#" class="list-group-item text-center" id="mutation-store" data-json-url="{% url 'maps:map.mutations' %}">
                  <h2 class="icon-mutation"></h2>
                  <p>Mutation</p>
                </a>
              </div>
            </div>
            <div class="col-lg-11 col-md-9 col-sm-9 col-xs-9 vertical-tab max-width">
              <!--Okay so this is that blue thing at the top-->
                <div class="vertical-tab-content">
                  <div class="alert alert-info" style="margin: 0px;" role="alert">
                    {% if perms.maps.can_upload_strains %}
                      <a href="{% url 'genes:upload' %}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-upload"></span></a>
                    {% endif %}
                    <span class="glyphicon glyphicon-question-sign pull-left" style="font-size:1.2em; padding-right: 8px;"></span>
                    You may select or deselect a data set by clicking on the <strong>'Name'</strong> from the selection below.{% if perms.maps.can_upload_strains %} You may also upload new data by clicking the upload button on the right side of this box.{% endif %}
                  </div>
                  <div class="sources" id="sources" style="padding: 10px;">
                    <a href="#" class="btn btn-default" id="source_template" style="margin: 10px;">
                      <h1 class="glyphicon glyphicon-list"></h1>
                      <br>
                      <h3>{name}</h3>
                      <p><em>{desc}</em></p>
                    </a>
                    <a href="#" class="btn btn-default" id="paper_template" style="margin: 10px;">
                      <h1 class="glyphicon glyphicon-book"></h1>
                      <br>
                      <h3>{name}</h3>
                      <p><em>{desc}</em></p>
                    </a>
                    <a href="#" class="btn btn-default" id="bioproject_template" style="margin: 10px;">
                      <h1 class="glyphicon glyphicon-bookmark"></h1>
                      <br>
                      <h3>{name}</h3>
                      <p><em>{desc}</em></p>
                    </a>
                  </div>
                </div>
                <div class="vertical-tab-content active">
      <div class="alert alert-info" style="margin: 0px;" role="alert">
        <span class="glyphicon glyphicon-question-sign pull-left" style="font-size:1.2em; padding-right: 8px;"></span>
        You may select a country by clicking on it and then clicking <strong>'Select Country'</strong> in the popup bubble. Deselecting a country can be done by clicking on the country again and click <strong>Deselect</strong>. When a country is selected it will narrow down the charts in the rest of the tabs.
      </div>
                  <div class="maps" id="mapid"></div>
                </div>
                <div class="vertical-tab-content">
      <div class="alert alert-info" style="margin: 0px;" role="alert">
        <span class="glyphicon glyphicon-question-sign pull-left" style="font-size:1.2em; padding-right: 8px;"></span>
        You may select a drug by clicking on any of it's bars. Clicking anywhere else on the chart will deselect.
      </div>
                  <div class="d3graph">
                    <!--This is where that cool graphic goes look at hte drug-chart.js to see how the javascript creates the bar chart-->
                    <svg class="drugs" id="drugs"></svg>
                  </div>
                </div>
                <div class="vertical-tab-content">
      <div class="alert alert-info" style="margin: 0px;" role="alert">
        <span class="glyphicon glyphicon-question-sign pull-left" style="font-size:1.2em; padding-right: 8px;"></span>
        You may select a lineage by clicking on any of it's bars. Clicking anywhere else on the chart will deselect.
      </div>
                  <div class="d3graph">
                    <svg class="lineages" id="lineages"></svg>
                  </div>
                </div>
                <div class="vertical-tab-content">
                  <div class="mutation_graph">
                      <div id="gene_map" data-locus-lookup="{% url 'maps:map.locuses' %}" data-locus-range="{% url 'maps:map.locus.range' %}">
                      <div id="gene_map_title">
                          <span id="gene_start">3432424</span>
                          <h4>
                            <input type="text" list="locus-list" id="locus" autocomplete="off" title="Type name of gene locus" value="All"></input>
                            <datalist id="locus-list"></datalist>
                          </h4>
                          <span id="gene_end">3432424</span>
                      </div>
                      <div id="mutation_selector">
                          {% for i in "x"|rjust:"50" %}<span id="ms-{{ forloop.counter }}" class="{% cycle 'odd' 'even' %}"><span style="animation-delay: {% cycle '0.0' '0.4' '0.8' '1.0' '1.6' '2.0' '2.4' '2.8' '2.4' '2.0' '1.6' '1.2' '0.8' '0.4' %}s;">&nbsp;</span></span>{% endfor %}
                      </div>
                    </div>
                    <div class="lister" data-toggle="tooltips">
                      <label for="synon" class="text-primary">Synonymous:</label>
                      <input type="checkbox" name="synon" title="Include Synonymous Mutations"/>
                      <label for="snp" class="text-primary">Mutation:</label>
                      <input type="text" list="mutation-list" id="snp" autocomplete="off" title="Select a locus to continue"/>
                      <datalist id="mutation-list"></datalist>
                      <a class="btn btn-danger btn-sm pull-right" id="clear-mutation">Clear</a>
                    </div>
                    <svg class="mutations" id="mutations" data-json-url="{% url 'maps:map.mutation' %}" style="display: none;"></svg>
                  </div>
                </div>
            </div>
        </div>
  </div>
</div>

{% endblock %}
