{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/leaflet.css" %}"/>
  <link rel="stylesheet" href="{% static "css/genetics-map.css" %}"/>
  <link rel="stylesheet" href="{% static "css/vertical-tabs.css" %}"/>
{% endblock %}
{% block extra_js %}
  <script src="{% static "js/d3.js" %}"></script>
  <script src="{% static "js/nv.d3.js" %}"></script>
  <script src="{% static "js/vertical-tabs.js" %}"></script>
  <script src="{% static "js/leaflet.js" %}"></script>
  <script src="{% static "js/genetics-map.js" %}"></script>
  <script src="{% static "js/drugs-chart.js" %}"></script>
  <script src="{% static "js/lineage-chart.js" %}"></script>
  <script src="{% static "js/lister.js" %}"></script>
  <script src="{% static "js/mutations-chart.js" %}"></script>
{% endblock %}

{% block content %}
  {% if request.GET.new %}
    <div class="container">
      <h2 class="page-header">Map <small>visualize TB impacts and strains globally.</small></h2>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vertical-tab-container">
            <div class="col-lg-1 col-md-3 col-sm-3 col-xs-3 vertical-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item text-center active" id="map-store">
                  <h2 class="glyphicon glyphicon-globe"></h2>
                  <p>World</p>
                </a>
                <a href="#" class="list-group-item text-center" id="drug-store">
                  <h2 class="icon-flask"></h2>
                  <p>Drug</p>
                </a>
                <a href="#" class="list-group-item text-center" id="lineage-store">
                  <h2 class="icon-graph"></h2>
                  <p>Lineage</p>
                </a>
                <a href="#" class="list-group-item text-center" id="mutation-store">
                  <h2 class="icon-mutation"></h2>
                  <p>Mutation</p>
                </a>
              </div>
            </div>
            <div class="col-lg-11 col-md-9 col-sm-9 col-xs-9 vertical-tab max-width">
                <div class="vertical-tab-content active">
                  <div class="maps" id="mapid" data-map="{% url 'maps:map.places' %}"></div>
                </div>
                <div class="vertical-tab-content">
                  <div class="d3graph">
                    <svg class="drugs" id="drugs" data-drug="{% url 'maps:map.drugs' %}"></svg>
                  </div>
                </div>
                <div class="vertical-tab-content">
                  <div class="d3graph">
                    <svg class="lineages" id="lineages" data-lineage="{% url 'maps:map.lineages' %}"></svg>
                  </div>
                </div>
                <div class="vertical-tab-content">
                  <div class="d3graph">
                    <textarea class="lister" id="mselect" data-data-url="{% url 'genes:json' %}" style="display: none;"></textarea>
                    <svg class="mutations" id="mutations"></svg>
                  </div>
                </div>
            </div>
        </div>
  </div>
</div>

{% else %}
  {# Old shiny-io maps #}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Map <small>visualize TB impacts and strains globally.</small><h1>
      <iframe id="shinymap" height="1200" width="100%" frameborder="0" src="https://hmdc.shinyapps.io/genTB"></iframe>
      {#<div id="map" style="width: 960px; height: 500px"></div>#}
    </div>
  </div>
{% endif %}

{% endblock %}
